1. Exploratory data Analisys
    Summary, Estatistics, value counts

2. GroupBy and Pivot Table
    
3. lambda function for Data transformation

4. Age, what to do with null values

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('max_rows', None)
pd.set_option('max_columns', None)

In [137]:
data = pd.read_csv("/home/gus/Dropbox/IRONHACK/LABS/train.csv")

In [11]:
data.shape

(891, 12)

In [12]:
data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [15]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

In [17]:
data["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [133]:
pd.pivot_table(data, index=[]"Survived","Pclass"])

NameError: name 'value_counts' is not defined

In [61]:
data["SibSp"].unique()

array([1, 0, 3, 4, 2, 5, 8])

In [138]:
data["Ticket"].value_counts()

1601                  7
CA. 2343              7
347082                7
3101295               6
347088                6
CA 2144               6
S.O.C. 14879          5
382652                5
349909                4
347077                4
17421                 4
LINE                  4
4133                  4
PC 17757              4
W./C. 6608            4
113781                4
2666                  4
19950                 4
113760                4
C.A. 31921            3
C.A. 34651            3
110413                3
35273                 3
363291                3
230080                3
F.C.C. 13529          3
347742                3
13502                 3
29106                 3
110152                3
PC 17582              3
PC 17572              3
239853                3
345773                3
SC/Paris 2123         3
248727                3
24160                 3
371110                3
PC 17755              3
PC 17760              3
C.A. 37671            2
11668                 2
2908                  2
113572                2
347080                2
3101278               2
11751                 2
367226                2
113776                2
250649                2
113798                2
113806                2
PC 17604              2
237736                2
364516                2
367230                2
111361                2
2665                  2
11967                 2
7534                  2
16966                 2
19996                 2
392096                2
2651                  2
250644                2
231919                2
243847                2
S.C./PARIS 2079       2
370129                2
C.A. 2673             2
PC 17758              2
C.A. 2315             2
250655                2
PC 17608              2
28403                 2
54636                 2
WE/P 5735             2
2691                  2
347054                2
PC 17485              2
364849                2
PC 17477              2
PC 17558              2
A/5. 3336             2
35281                 2
345764                2
17453                 2
230433                2
358585                2
2678                  2
113505                2
12749                 2
2659                  2
29750                 2
2699                  2
A/4 48871             2
26360                 2
113789                2
250647                2
244252                2
31027                 2
349237                2
13507                 2
19928                 2
11767                 2
S.O./P.P. 3           2
36928                 2
230136                2
17474                 2
PC 17593              2
239865                2
370365                2
248738                2
2653                  2
W./C. 6607            2
PC 17761              2
PC 17569              2
36973                 2
36947                 2
376564                2
2627                  2
19877                 2
19943                 2
113803                2
PC 17611              2
244367                2
220845                2
2668                  2
2661                  2
PP 9549               2
110465                2
P/PP 3381             2
C.A. 33112            2
STON/O2. 3101279      2
SOTON/OQ 3101317      1
STON/O 2. 3101275     1
239855                1
384461                1
13509                 1
349251                1
14313                 1
349221                1
362316                1
347068                1
2686                  1
244270                1
28228                 1
PC 17599              1
315098                1
36865                 1
28665                 1
374910                1
250653                1
373450                1
364500                1
315097                1
349225                1
350060                1
14311                 1
234818                1
330877                1
35852                 1
330935                1
347464                1
312993                1
240929                1
219533                1
36967                 1
C.A. 34260            1
330909                1
349217                1
PC 17595              1
11813                 1
220367                1
349208                1
113501                1
A/S 2816              1
2663                  1
394140                1
341826                1
STON/O 2. 3101292     1
244278                1
PC 17605              1
7545                  1
PC 17609              1
PC 17600              1
349227                1
330932                1
12233                 1
342826                1
349243                1
349246                1
A/5 21173             1
330958                1
363294                1
3460                  1
349210                1
347470                1
367229                1
C.A. 29395            1
345767                1
113510                1
345769                1
363592                1
250651                1
31418                 1
C 7077                1
STON/O 2. 3101294     1
33638                 1
A/4. 34244            1
347087                1
349239                1
SC/AH 3085            1
SOTON/OQ 392090       1
PC 17474              1
C.A. 5547             1
STON/O 2. 3101286     1
349236                1
315094                1
347063                1
236852                1
112058                1
368323                1
348123                1
A4. 54510             1
19952                 1
367232                1
17463                 1
347071                1
370375                1
367228                1
347074                1
382651                1
347061                1
4135                  1
STON/O 2. 3101293     1
4136                  1
336439                1
A/4 45380             1
PC 17482              1
13567                 1
SOTON/O.Q. 3101310    1
226875                1
11755                 1
110813                1
28213                 1
3474                  1
29011                 1
PC 17473              1
349254                1
65303                 1
6563                  1
2697                  1
350050                1
343275                1
312992                1
348121                1
A/4. 39886            1
36866                 1
315090                1
11753                 1
343120                1
243880                1
347062                1
324669                1
21440                 1
19988                 1
A/5 21172             1
C.A. 31026            1
374887                1
330923                1
226593                1
SOTON/OQ 3101316      1
STON/O 2. 3101285     1
364498                1
112050                1
111240                1
113050                1
2926                  1
28134                 1
4579                  1
2629                  1
A/5 3540              1
370370                1
350042                1
244373                1
A/5 3536              1
28220                 1
14973                 1
PC 17603              1
2689                  1
347468                1
11752                 1
PC 17475              1
349912                1
330919                1
349240                1
248706                1
A/5 21171             1
16988                 1
349245                1
2628                  1
C 4001                1
2620                  1
372622                1
330959                1
3101281               1
365226                1
347081                1
2664                  1
11771                 1
345770                1
27042                 1
350046                1
349204                1
250648                1
8471                  1
2674                  1
2694                  1
W./C. 6609            1
2671                  1
244310                1
350026                1
7553                  1
349203                1
315088                1
349206                1
315084                1
A/5 3902              1
26707                 1
349205                1
370377                1
3101277               1
330931                1
229236                1
345781                1
11774                 1
C.A./SOTON 34068      1
STON/O2. 3101282      1
248740                1
S.P. 3464             1
2003                  1
349253                1
PC 17585              1
A/5. 10482            1
211536                1
237565                1
SOTON/OQ 392086       1
29108                 1
2680                  1
SC 1748               1
315037                1
19947                 1
2662                  1
2687                  1
SC/AH 29037           1
237798                1
W./C. 14258           1
335677                1
223596                1
17465                 1
349234                1
SC/PARIS 2149         1
2693                  1
C.A. 24580            1
F.C. 12750            1
371362                1
2650                  1
7552                  1
111320                1
349228                1
323592                1
350404                1
12460                 1
237668                1
C.A. 29178            1
370369                1
29105                 1
345763                1
349214                1
113807                1
4138                  1
350034                1
4137                  1
250646                1
345364                1
SW/PP 751             1
13568                 1
231945                1
349247                1
315096                1
248698                1
239854                1
392091                1
SOTON/O.Q. 3101305    1
2700                  1
386525                1
112379                1
349231                1
112059                1
113784                1
248723                1
7598                  1
2623                  1
347078                1
STON/O 2. 3101288     1
244358                1
392092                1
2631                  1
334912                1
S.C./A.4. 23567       1
2649                  1
112053                1
C.A. 33111            1
C.A. 24579            1
A/5. 13032            1
13214                 1
350043                1
218629                1
348124                1
111426                1
113800                1
2695                  1
347089                1
113059                1
C.A. 6212             1
367655                1
370373                1
113794                1
349910                1
STON/O 2. 3101269     1
A/4. 20589            1
PC 17756              1
SOTON/O2 3101272      1
PC 17483              1
SOTON/O.Q. 3101311    1
STON/O2. 3101271      1
113055                1
W./C. 14263           1
36864                 1
C.A. 17248            1
A./5. 3235            1
28206                 1
349241                1
113767                1
244361                1
11769                 1
17466                 1
28664                 1
236171                1
111428                1
365222                1
27267                 1
234686                1
364499                1
367231                1
374746                1
2223                  1
C 7076                1
349224                1
7540                  1
315093                1
368703                1
113503                1
SC/Paris 2163         1
PC 17759              1
237789                1
STON/O 2. 3101273     1
350052                1
350036                1
27849                 1
3101276               1
F.C.C. 13531          1
113783                1
31028                 1
347466                1
113056                1
3411                  1
29104                 1
350047                1
350406                1
364851                1
350035                1
36568                 1
345778                1
65306                 1
SOTON/O.Q. 392087     1
335097                1
A/5. 3337             1
A./5. 2152            1
65304                 1
2669                  1
2672                  1
347064                1
350048                1
4134                  1
PC 17318              1
248731                1
2648                  1
3101298               1
349233                1
347060                1
349201                1
SC/PARIS 2131         1
112052                1
343276                1
347067                1
113028                1
347085                1
349249                1
PC 17476              1
SC/PARIS 2133         1
236853                1
2683                  1
C 7075                1
PC 17597              1
113786                1
SC/PARIS 2167         1
SOTON/O.Q. 392078     1
349215                1
111369                1
349257                1
233866                1
13213                 1
SOTON/OQ 392076       1
SOTON/O2 3101287      1
STON/O 2. 3101274     1
PC 17596              1
315151                1
7546                  1
2625                  1
34218                 1
349213                1
STON/O 2. 3101289     1
2624                  1
345572                1
19972                 1
A/5 3594              1
345780                1
343095                1
347743                1
35851                 1
113796                1
350029                1
345777                1
A.5. 18509            1
28425                 1
364846                1
347076                1
370372                1
STON/O2. 3101283      1
349256                1
SOTON/O.Q. 3101312    1
364506                1
28424                 1
239856                1
17764                 1
14312                 1
113773                1
17464                 1
3101265               1
A/5 2817              1
29103                 1
370376                1
349219                1
F.C.C. 13528          1
9234                  1
2667                  1
250643                1
695                   1
323951                1
312991                1
113514                1
349207                1
PP 4348               1
A/5. 2151             1
315153                1
693                   1
W.E.P. 5734           1
228414                1
C.A. 18723            1
350417                1
248747                1
349209                1
A/5 2466              1
SOTON/O.Q. 3101307    1
345774                1
3101264               1
347069                1
349252                1
36963                 1
CA. 2314              1
STON/O2. 3101290      1
315086                1
349244                1
248733                1
PC 17612              1
112277                1
347083                1
3101296               1
330980                1
364512                1
237671                1
364848                1
382649                1
349248                1
SO/C 14885            1
C 17369               1
SOTON/OQ 392089       1
371060                1
PC 17592              1
29751                 1
36209                 1
PC 17610              1
349212                1
113051                1
Fa 265302             1
376566                1
234604                1
A/5 21174             1
S.O./P.P. 751         1
2641                  1
C.A. 29566            1
233639                1
S.W./PP 752           1
8475                  1
350407                1
234360                1
370371                1
13049                 1
345783                1
STON/O 2. 3101280     1
383121                1
350025                1
250652                1
2685                  1
SC/AH Basle 541       1
237442                1
113043                1
7267                  1
364850                1
349242                1
W/C 14208             1
230434                1
113787                1
11765                 1
2626                  1
349222                1
349216                1
330979                1
349223                1
SOTON/O.Q. 3101306    1
PC 17601              1
111427                1
364511                1
113788                1
345779                1
349218                1
SOTON/OQ 392082       1
5727                  1
3101267               1
315089                1
315082                1
SC/PARIS 2146         1
113792                1
2647                  1
SCO/W 1585            1
28551                 1
C.A. 33595            1
113509                1
113804                1
345765                1
2690                  1
PC 17754              1
PC 17590              1
A.5. 11206            1
S.O.P. 1166           1
2677                  1
347073                1
110564                1
A/5. 851              1
Name: Ticket, dtype: int64

In [70]:
data["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [72]:
data["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [73]:
data["Pclass"].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [74]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [86]:
drop_cols = ["PassengerId","Name","Ticket","Embarked","Cabin"]

In [89]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [91]:
data["Age"].value_counts(dropna=False).head()

NaN     177
24.0     30
22.0     27
18.0     26
28.0     25
Name: Age, dtype: int64

In [151]:
ass = data.groupby(["Sex","Survived","Pclass"]).agg({"Survived":"count"})
ass["culo"] = ass["Survived"]*100/ass["Survived"].sum()
ass

                        Survived       culo
Sex    Survived Pclass
female 0        1              3   0.336700
                2              6   0.673401
                3             72   8.080808
       1        1             91  10.213244
                2             70   7.856341
                3             72   8.080808
male   0        1             77   8.641975
                2             91  10.213244
                3            300  33.670034
       1        1             45   5.050505
                2             17   1.907969
                3             47   5.274972

In [126]:
data["Age"].value_counts(dropna=False).head()

NaN     177
24.0     30
22.0     27
18.0     26
28.0     25
Name: Age, dtype: int64

In [119]:
labels = ["0 - 9","10 - 19", "20 - 29", "30 - 39", "40 - 49", "50+"]
cutoffs = [9,19,29,39,49,50,100]

In [124]:
bins = pd.cut(data['Age'],cutoffs, labels=labels)
bins.value_counts()

10 - 19    220
20 - 29    167
0 - 9      102
30 - 39     89
50+         64
40 - 49     10
Name: Age, dtype: int64